@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */


@font-face {
    font-family: "Lexend Deca";
    src: url('/fonts/Lexend Deca/LexendDeca.ttf');
}

@font-face {
    font-family: "Nunito Sans";
    src: url('/fonts/Nunito Sans/NunitoSans.ttf');
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter/Inter.ttf');
}

html {
    scroll-behavior: smooth;
}

/* input::placeholder {
    color: #B0B4C5;
} */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B0B4C5;
    opacity: 1;
    /* Firefox */
}

div:not(.allowed-scroll)::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

form::-webkit-scrollbar {
    display: none;
}

.allowed-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;

}

th:not(.checkbox),
td:not(.checkbox) {
    text-align: start;
}

::-webkit-scrollbar-thumb {
    background-color: #3366FF;
    border-radius: 9999px;
    height: 12px;
}

textarea::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.allowed-scroll::-webkit-scrollbar-thumb {
    background-color: #3366FF;
    border-radius: 9999px;
    height: 12px;
}

/* React Toastify color */
:root {
    --toastify-color-light: #FAFBFF !important;
    --toastify-color-dark: #121212 !important;
    --toastify-color-info: #3366FF !important;
    --toastify-color-success: #4FBEAB !important;
    --toastify-color-warning: #FFA800 !important;
    --toastify-color-error: #D14343 !important;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;

    --toastify-color-progress-light: linear-gradient(to right,
            #4cd964,
            #5ac8fa,
            #007aff,
            #34aadc,
            #5856d6,
            #ff2d55);

    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}